{include file='admin/header' Title ='修改密码'/}
<body>
{include file='admin/nav' /}
{include file='admin/left-nav' /}
<div>
    <form id="myForm" class="login-form" action="{:url('index/index/update_all')}" >
        <label>用户名
            <input type="text" name="username" class="username layui-input"/>
        </label>
        <label>密码
            <input type="password" name="new_password" class="new_password layui-input"/>
        </label>
        <label>验证码
            <input type="number" name="sms_code" class="sms_code layui-input"/>
        </label>
        <label>手机号
            <input type="number" name="telphone" class="telphone layui-input"/>
        </label>
        <button type="button" class="layui-btn" id = "sms_submit">验证码获取</button>
        <button type="submit" class="layui-btn" id="submit">提交</button>　
    </form>
</div>
{include file='admin/footer' /}
</body>
<script src="__JQ__/jquery.js"></script>
<script src="__JQ__/jquery_md5.js" type="application/javascript"></script>
<script>
    $(document).ready(function(){
        var countdown=6;
        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttr("disabled");
                obj.html("免费获取验证码");
                countdown = 60;
                return;
            } else {
                obj.attr("disabled",true);
                obj.html("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function() {
                    settime(obj) }
                ,1000)
        }
        $("form").submit(function(){
            var salt="{*nbsjt*asar#cdxd#}";
            var password = $.md5($(".new_password").val()+salt);
        });
            $("#sms_submit").click(function () {
            var btn = $('#sms_submit');
            $.ajax(
                {
                    type: "POST",   //提交的方法
                    url:"{:url('index/index/setSmsCode')}", //提交的地址
                    async: false,
                    data: {telephone:$(".telphone").val()},
                    error: function(e) {  //失败的话
                        alert('发送失败'+e)
                        settime(btn);
                    },
                    success: function(e) {  //成功
                        settime(btn);
                        alert('发送成功')//就将返回的数据显示出来
                    }
                }
            )
        })
    });

    layui.use('element', function(){
        var element = layui.element;
        //一些事件监听
        element.on('tab(demo)', function(data){
            console.log(data);
        });
    });
</script>

</html>