<hr class="layui-bg-blue">
<div class="layui-footer footer footer-index">
    <div class="layui-main">
        <p>© 2018 <a href="/">layui.com</a> MIT license</p>
        <p>
        </p>
        <p class="site-union">
            <a href="https://www.upyun.com?from=layui" target="_blank" rel="nofollow" upyun=""><img src="//res.layui.com/static/images/other/upyun.png?t=1"></a>
            <span>提供 CDN 赞助</span>
        </p>
    </div>
</div>